
html {
  font-size: 10px;
}

body {
  margin: 0;
  font-size: 1.7rem;
  font-family: 'PTSans', Arial, sans-serif;
}

h2, h3,
h4 {
  margin: 0;
}

.header__container {
  font-family: 'PTSans';
  display: flex;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.header__schedule-box {
  width: 27%;
  margin: 0 3.5rem;
}

.header__link {
  text-decoration: none;
  color: #000;
}

.header__inner {
  display: flex;
  align-items: center;
}

.header__inner-icon {
  width: 2rem;
  fill: #7481bb;
  margin-right: 0.7rem;
}

.header__icon {
  background-size: contain;
  width: 2rem;
  height: 2rem;
}

.phone {
  background: url(../images/phone.svg) no-repeat;
}

.point {
  background: url(../images/point.svg) no-repeat;
}

.envelope {
  background: url(../images/envelope.svg) no-repeat;
}

.header__contacts-box {
  font-size: 1.3rem;
  margin-left: 5rem;
}

.header__phone {
  font-size: 2rem;
  font-weight: 700;
}

.search-form__label {
  font-size: 1.5rem;
  font-weight: 700;
}

.search-form {
  max-width: 60rem;
}

.search-form__input {
  width: 92%;
  height: 4rem;
  margin-left: 8%;
  border: none;
  padding: 0;
}

.search-form__box {
  margin-top: 1rem;
  border: 0.1rem solid #b9b9bb;
  height: 4rem;
  position: relative;
}

.search-form__button {
  background-color: #fff;
  border: none;
  position: absolute;
  top: 0;
  right: 0;
  padding: 1rem;
}

.search-form__search-icon {
  margin-top: 1rem;
  margin-left: 2rem;
  background: url(../images/search-icon.svg) no-repeat;
  position: absolute;
  top: 0;
  left: 0;
}

.search-form__submit-icon {
  background: url(../images/submit-icon.svg) no-repeat;
}

.panel-menu {
  background-color: #465590;
  height: 4.5rem;
}

.container {
	max-width: 1400px;
	margin: 0 auto;
	padding-left: 1.5rem;
	padding-right: 1.5rem;
}

.menu {
  font-size: 0;
}

.menu__list{
	padding-left: 0;
	margin: 0;
  padding-top: 0.15rem;
  padding-bottom: 0.15rem;
}

.menu__list-item {
	display: inline-block;
	margin: 0 1.5rem;
  font-family: 'PTSans';
  font-size: 1.7rem;
  font-weight: 400;
}

.menu__list-item:last-child {
	margin-right: 0;
}

.menu__list-box {
  padding: 1rem 1rem;
}

.menu__list-box:hover {
  opacity: 1;
  background-color: #5361a5;
}

.link {
  text-decoration: none;
  color: #fff;
}

.main {
  font-family: PT Sans;
  font-weight: 400;
  margin-top: 4.5rem;
  margin-bottom: 8.5rem;
}

.main__column-title {
  font-family: PTSans;
  font-size: 2.8rem;
  font-weight: 700;
  margin-bottom: 4rem;
}

.main__column-text {
  margin-top: 0;
  line-height: 1.5;
}

.text {
  margin-bottom: 2.5rem;
}

.main__content {
  display: flex;
  margin-bottom: 6rem;
}

.main__column-list {
  padding-left: 3.5rem;
}

.side-bar {
  width: 100%;
  margin-left: 2rem;
}

.side-bar__link {
  color: #4758a5;
}

.side-bar__title {
  font-size: 2.6rem;
  margin-bottom: 3.5rem;
}

.form__inner {
  display: flex;
  flex-direction: column;
  margin-bottom: 3rem;
}

.form__inner:nth-child(2) {
  margin-bottom: 3.5rem;
}

.form__title {
  margin-bottom: 1rem;
}

.form {
  background-color: #f5f9fa;
  padding-top: 4.5rem;
  padding-right: 2.5rem;
  padding-bottom: 2.5rem;
  padding-left: 2.5rem;
}

#form {
	min-width: 93%;
	height: 4rem;
	color: #4758a5;
  font-family: 'PTSans';
  font-weight: 400;
	font-size: 1.5rem;
	margin-left: 2%;
	border: none;
  background-color: #f5f9fa;
  padding: 0;
}

.form__box {
	border: #b9b9bb solid 0.1rem;
}

.form__box-input {
  padding-left: 7%;
  display: flex;
  align-items: center;
}

.form__icon {
  width: 1.6rem;
}

.form__icon-image {
  fill: #4758a5;
}

.form__button {
	border: none;
	width: 100%;
  height: 4rem;
	font-size: 1.5rem;
	font-weight: 700;
	font-family: '';
	color: #fff;
	background-color: #4758a5;
}

.button__link {
  padding: 1rem 1rem;
}

.button__link:hover {
  opacity: 1;
  background-color: #5361a5;
}

.side-bar__document-box {
  margin-top: 5.5rem;
}

.side-bar__document-header {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.side-bar__document-image {
  min-width: 4rem;
  height: 4.5rem;
  background: url(../images/pdf.jpg)
  no-repeat;
  background-size: contain;
  padding-right: 1rem;
}

.side-bar__document-item {
  display: flex;
  align-items: center;
  margin-top: 1.5rem;
}

.side-bar__document-item:first-child {
  margin-top: 0;
}

.latest__title {
  font-size: 2.6rem;
}

.latest__box {
  display: flex;
  margin-top: 4rem;
}

.latest__item {
  display: flex;
}

.latest__news-title {
  font-size: 2rem;
  margin-top: 1rem;
}

.latest__inner {
  margin-left: 2rem;
  margin-right: 1rem;
}

.latest__date {
  max-width: 4.5rem;
  text-align: center;
}

.latest__date-day {
  font-family: 'PTSans';
  font-size: 4.5rem;
  font-weight: 700;
  color: #4758a5;
}

.latest__text {
  margin: 0;
}

.footer {
  font-family: 'PTSans';
  font-size: 1.3rem;
  height: 14rem;
  background-color: #384997;
  color: #fff;
}

.footer__title {
  font-size: 1.5rem;
  padding-top: 2rem;
  padding-bottom: 1.5rem;
}

.footer__box {
  display: flex;
  justify-content: space-between;
}
.footer__content {
  display: flex;
}

.footer__requisites {
  margin-left: 4.5rem;
}

.footer__requisites:first-child {
  margin-left: 0;
}

.footer__copyright-inner {
  position: relative;
}

.footer__copyright {
  position: absolute;
  top: 0;
  right: 0;
}

@media screen and (min-width: 1200px) {
  .search-form {
    min-width: 60rem;
  }
}

@media screen and (min-width: 960px) and (max-width: 1200px){
  .search-form {
    min-width: 30rem;
  }
}
