
html {
  font-size: 10px;
}

body {
  margin: 0;
  font-size: 1.7rem;
  font-family: 'PT Sans', Arial, sans-serif;
}

h2, h3,
h4 {
  margin: 0;
}

.logo {
  margin: 2rem 0;
  width: 21rem;
}

.header {
  font-family: 'PT Sans', sans-serif;
  display: flex;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.header__layout {
  width: 27%;
  margin: 0 2.5%;
}

.header__link {
  text-decoration: none;
  color: #000;
}

.header__inner {
  display: flex;
  align-items: center;
}

.header__icon {
  width: 2.4rem;
  height: 2.4rem;
  margin-right: 0.7rem;
}

.clock {
  background: url(../images/clock.svg) no-repeat;
  background-size: contain;
}

.phone {
  background: url(../images/phone.svg) no-repeat;
  background-size: contain;
}

.point {
  background: url(../images/point.svg) no-repeat;
  background-size: contain;
}

.envelope {
  background: url(../images/envelope.svg) no-repeat;
  background-size: contain;
}

.layout {
  display: none;
}

.header__contacts-box {
  font-size: 1.5rem;
  margin-left: 3.8%;
}

.header__phone {
  font-size: 2rem;
  font-weight: 700;
}

.search-form__label {
  font-size: 1.5rem;
  font-weight: 700;
}

.search-form {
  max-width: 60rem;
}

.search-form__input {
  width: 92%;
  height: 4rem;
  margin-left: 8%;
  border: none;
  padding: 0;
}

.search-form__box {
  margin-top: 1rem;
  border: 0.1rem solid #b9b9bb;
  height: 4rem;
  position: relative;
}

.search-form__button {
  background-color: #fff;
  border: none;
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.8rem;
}

.search-form__search-icon {
  margin-top: 1rem;
  margin-left: 3%;
  background: url(../images/search-icon.svg) no-repeat;
  position: absolute;
  top: 0;
  left: 0;
}

.search-form__submit-icon {
  background: url(../images/submit-icon.svg) no-repeat;
}

.panel-menu {
  font-family: 'PT Sans', sans-serif;
  background-color: #465590;
  height: 4.5rem;
}

.container {
	max-width: 1400px;
	margin: 0 auto;
	padding-left: 1.5rem;
	padding-right: 1.5rem;
}

.menu {
  font-size: 0;
}

.menu__list{
	padding-left: 0;
	margin: 0;
  padding-top: 0.15rem;
  padding-bottom: 0.15rem;
}

.menu__list-item {
	display: inline-block;
	margin: 0 1.5rem;
  font-size: 1.7rem;
}

.menu__list-item:last-child {
	margin-right: 0;
}

.menu__list-box {
  padding: 1rem 1rem;
}

.menu__list-box:hover {
  opacity: 1;
  background-color: #5361a5;
}

.link {
  text-decoration: none;
  color: #fff;
}

.main {
  font-family: 'PT Sans', sans-serif;
  font-weight: 400;
  margin-top: 4.5rem;
  margin-bottom: 8.5rem;
}

.main__column {
  max-width: 86rem;
  margin-right: 2rem;
}

.main__column-title {
  font-size: 2.8rem;
  margin-bottom: 4rem;
}

.main__column-text {
  margin-top: 0;
  line-height: 1.5;
}

.text {
  margin-bottom: 2.5rem;
}

.main__content {
  display: flex;
  margin-bottom: 6rem;
}

.main__column-list {
  padding-left: 3.5rem;
}

.side-bar {
  max-width: 42rem;
}

.side-bar__link {
  color: #4758a5;
}

.side-bar__title {
  font-size: 2.6rem;
  margin-bottom: 3.5rem;
}

.form__inner {
  display: flex;
  flex-direction: column;
  margin-bottom: 3rem;
}

.form__inner:nth-child(2) {
  margin-bottom: 3.5rem;
}

.form__title {
  margin-bottom: 1rem;
}

.form {
  background-color: #f5f9fa;
  padding-top: 4.5rem;
  padding-right: 2.5rem;
  padding-bottom: 2.5rem;
  padding-left: 2.5rem;
}

#form {
	width: 91%;
	height: 4rem;
	color: #4758a5;
  font-family: 'PT Sans', sans-serif;
  font-weight: 400;
	font-size: 1.5rem;
	margin-left: 2%;
	border: none;
  background-color: #f5f9fa;
  padding: 0;
}

.form__box {
	border: #b9b9bb solid 0.1rem;
}

.form__box-input {
  padding-left: 5.7%;
  display: flex;
  align-items: center;
}

.form__icon {
  width: 2.4rem;
  height: 2.4rem;
}

.person {
  background: url(../images/person.svg) no-repeat;
  background-size: contain;
}

.date {
  background: url(../images/date.svg) no-repeat;
  background-size: contain;
}

.form__button {
	border: none;
	width: 100%;
  height: 4rem;
	font-size: 1.5rem;
	font-weight: 700;
	font-family: 'PT Sans', sans-serif;
	color: #fff;
	background-color: #4758a5;
}

.button__link {
  padding: 1rem 1rem;
}

.button__link:hover {
  opacity: 1;
  background-color: #5361a5;
}

.side-bar__document-box {
  margin-top: 5.5rem;
}

.side-bar__document-header {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.side-bar__document-image {
  min-width: 4rem;
  height: 4.5rem;
  background: url(../images/pdf.svg)
  no-repeat;
  background-size: contain;
  padding-right: 1rem;
}

.side-bar__document-item {
  display: flex;
  align-items: center;
  margin-top: 1.5rem;
}

.side-bar__document-item:first-child {
  margin-top: 0;
}

.latest__title {
  font-size: 2.6rem;
}

.latest__box {
  display: flex;
  margin-top: 4rem;
}

.latest__item {
  display: flex;
  margin-left: 1rem;
}

.latest__item:first-child {
  margin-left: 0;
}

.latest__news-title {
  font-size: 2rem;
  margin-top: 1rem;
}

.latest__inner {
  margin-left: 2rem;
  margin-right: 1rem;
}

.latest__date {
  max-width: 5rem;
  text-align: center;
}

.latest__date-day {
  font-size: 4.5rem;
  font-weight: 700;
  color: #4758a5;
}

.latest__text {
  margin: 0;
}

.footer {
  font-family: 'PT Sans', sans-serif;
  font-size: 1.3rem;
  min-height: 14rem;
  background-color: #384997;
  color: #fff;
}

.footer__title {
  font-size: 1.5rem;
  padding-top: 2rem;
  padding-bottom: 1.5rem;
}

.footer__box {
  display: flex;
  justify-content: space-between;
}
.footer__content {
  display: flex;
}

.footer__requisites {
  margin-left: 4.5rem;
}

.footer__requisites:first-child {
  margin-left: 0;
}

.footer__copyright-inner {
  position: relative;
  padding: 1rem;
}

.footer__copyright {
  position: absolute;
  top: 0;
  right: 0;
}

@media screen and (min-width: 1200px) {
  .search-form {
  min-width: 60rem;
  }
}

@media screen and (max-width: 980px) {
	html {
	font-size: 9px;
	}
}

@media screen and (max-width: 790px) {
  .logo {
  margin: 0;
  width: 100%;
  }

  .header {
  flex-direction: column;
  }

  .header__logo {
  align-self: center;
  }

  .header__layout {
  width: 100%;
  margin: 2rem 0;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  }

  .header__contacts-box {
  display: none;
  margin: 0;
  line-height: 1.5;
  }

  .layout {
  display: block;
  }

  .search-form {
  max-width: 100%;
}

  .side-bar__document-header {
  justify-content: flex-start;
  flex-direction: column;
  margin-bottom: 3.5rem;
}

  .main {
  margin-bottom: 6.5rem;
  }

  .main__content {
  flex-direction: column;
  }

  .main__column {
  margin-right: 0;
  margin-bottom: 5.5rem;
  }

  .side-bar {
  display: flex;
  max-width: none;
  }

  .side-bar__form-box {
  min-width: 48%;
  }

  .side-bar__document-box {
  margin-top: 0;
  margin-left: 7rem;
  }

  .side-bar__document-header {
  flex-direction: row;
  justify-content: space-between;
  }
}

@media screen and (max-width: 640px) {

  html {
    font-size: 8px;
  }

  .main__content {
    margin-bottom: 5.5rem;
  }

  .side-bar {
    flex-direction: column;
  }

  .side-bar__form-box {
    margin-bottom: 5.5rem;
  }

  .side-bar__document-box {
    margin: 0;
  }

  .latest__box {
    flex-direction: column;
  }

  .latest__item {
    margin-left: 0;
    margin-top: 2rem;
  }

  .latest__item:first-child {
    margin-top: 0;
  }
}

@media screen and (max-width: 420px) {
  .header__layout {
    flex-direction: column-reverse;
    align-items: center;
  }

  .layout {
    font-size: 0;
    margin-bottom: 1rem;
  }

  .point, .envelope {
    display: none;
  }

  .header__schedule-box {
    display: flex;
  }

  .header__inner {
    margin: 0 1rem;
  }

  .footer__box, .footer__title {
    display: none;
  }

  .footer {
    min-height: 4rem;
  }

  .footer__copyright {
    top: 50%;
    right: 30%;
}
