
html {
  font-size: 10px;
}

body {
  margin: 0;
  font-size: 1.7rem;
  font-family: 'PT Sans', Arial, sans-serif;
}

h2, h3,
h4 {
  margin: 0;
}

.logo {
  margin: 2rem 0;
  width: 21rem;
}

.header {
  font-family: 'PT Sans', sans-serif;
  display: flex;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.header__logo-link {
  text-decoration: none;
}

.header__layout {
  width: 27%;
  margin: 0 2.5%;
}

.header__link {
  text-decoration: none;
  color: #000;
}

.header__inner {
  display: flex;
  align-items: flex-start;
}

.header__icon {
  width: 2.4rem;
  height: 2.4rem;
  margin-right: 0.7rem;
}

.clock {
  background: url(../images/clock.svg) no-repeat;
  background-size: contain;
}

.phone {
  background: url(../images/phone.svg) no-repeat;
  background-size: contain;
}

.point {
  background: url(../images/point.svg) no-repeat;
  background-size: contain;
}

.envelope {
  background: url(../images/envelope.svg) no-repeat;
  background-size: contain;
}

.layout {
  display: none;
}

.header__contacts-box {
  font-size: 1.5rem;
  margin-left: 3.8%;
}

.header__phone {
  font-size: 2rem;
  font-weight: 700;
}

.search-form__label {
  font-size: 1.5rem;
  font-weight: 700;
}

.search-form {
  max-width: 60rem;
}

.search-form__input {
  width: 92%;
  height: 4rem;
  margin-left: 8%;
  border: none;
  padding: 0;
}

.search-form__box {
  margin-top: 1rem;
  border: 0.1rem solid #b9b9bb;
  height: 4rem;
  position: relative;
}

.search-form__button {
  background-color: #fff;
  border: none;
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.8rem;
}

.search-form__search-icon {
  margin-top: 1rem;
  margin-left: 3%;
  background: url(../images/search-icon.svg) no-repeat;
  position: absolute;
  top: 0;
  left: 0;
}

.search-form__submit-icon {
  background: url(../images/submit-icon.svg) no-repeat;
}

.panel-menu {
  font-family: 'PT Sans', sans-serif;
  background-color: #465590;
  height: 4.5rem;
}

.container {
	max-width: 1400px;
	margin: 0 auto;
	padding-left: 1.5rem;
	padding-right: 1.5rem;
}

.menu {
  font-size: 0;
}

.menu__list{
	padding-left: 0;
	margin: 0;
  padding-top: 0.15rem;
  padding-bottom: 0.15rem;
}

.menu__list-item {
	display: inline-block;
	margin: 0 1.5rem;
  font-size: 1.7rem;
}

.menu__list-item:last-child {
	margin-right: 0;
}

.menu__list-box {
  padding-top: 1rem;
  padding-right: 1rem;
  padding-bottom: 0.9rem;
  padding-left: 1rem;
  border-bottom: 0.2rem solid #465590;
}

.menu__list-box:hover {
  opacity: 1;
  background-color: #5361a5;
  border-bottom-color: #fff;

}

#menu-hamburger__icon {
	width: 3rem;
	position: relative;
	height: 3.2rem;
}

#menu-hamburger__icon span {
  display: block;
  position: absolute;
  height: 0.6rem;
  width: 50%;
  background: #f5f9fa;
  opacity: 1;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

#menu-hamburger__icon span:nth-child(even) {
  left: 50%;
  border-radius: 0 0.9rem 0.9rem 0;
}

#menu-hamburger__icon span:nth-child(odd) {
  left:0;
  border-radius: 0.9rem 0 0 0.9rem;
}

#menu-hamburger__icon span:nth-child(1), #menu-hamburger__icon span:nth-child(2) {
  top: 0;
}

#menu-hamburger__icon span:nth-child(3), #menu-hamburger__icon span:nth-child(4) {
  top: 1.2rem;
}

#menu-hamburger__icon span:nth-child(5), #menu-hamburger__icon span:nth-child(6) {
  top: 2.4rem;
}

#menu-hamburger__icon.open span:nth-child(1),#menu-hamburger__icon.open span:nth-child(6) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#menu-hamburger__icon.open span:nth-child(2),#menu-hamburger__icon.open span:nth-child(5) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#menu-hamburger__icon.open span:nth-child(1) {
  left: 0.5rem;
  top: 0.7rem;
}

#menu-hamburger__icon.open span:nth-child(2) {
  left: calc(50% - 5px);
  top: 0.7rem;
}

#menu-hamburger__icon.open span:nth-child(3) {
  left: -50%;
  opacity: 0;
}

#menu-hamburger__icon.open span:nth-child(4) {
  left: 100%;
  opacity: 0;
}

#menu-hamburger__icon.open span:nth-child(5) {
  left: 0.5rem;
  top: 2.9rem;
}

#menu-hamburger__icon.open span:nth-child(6) {
  left: calc(50% - 5px);
  top: 2.9rem;
}

.menu-hamburger {
	font-size: 0;
	background-color: #465590;
	border: none;
	cursor: pointer;
	display: none;
}

.link {
  text-decoration: none;
  color: #fff;
}

.breadcrumbs {
  min-height: 4rem;
  background-color: #f5f9fa;
}

.breadcrumbs__inner {
  display: flex;
  padding-top: 0.8rem;
}

.breadcrumbs__link {
  color: #4758a5;
  text-decoration: none;
}

.breadcrumbs__item {
  margin-right: 0.5rem;
}

.content-page {
  font-family: 'PT Sans', sans-serif;
  font-weight: 400;
  margin-top: 4.5rem;
  margin-bottom: 8.5rem;
}

.main {
  flex-grow: 1;
}

.main__title {
  font-size: 2.8rem;
  margin-bottom: 4rem;
}

.main__text {
  margin-top: 0;
  line-height: 1.5;
}

.text {
  margin-bottom: 2.5rem;
}

.content-page__inner {
  display: flex;
}

.main__list {
  padding-left: 3.5rem;
}

.side-bar {
  width: 42rem;
  margin-left: 3.9rem;
  flex: none;
}

.side-bar__link {
  color: #4758a5;
}

.side-bar__title {
  font-size: 2.6rem;
  margin-bottom: 3.5rem;
}

.side-bar__form-box {
  margin-bottom: 5.5rem;
}

.form__inner {
  display: flex;
  flex-direction: column;
  margin-bottom: 3rem;
}

.form__inner:nth-child(2) {
  margin-bottom: 3.5rem;
}

.form__title {
  margin-bottom: 1rem;
}

.form {
  background-color: #f5f9fa;
  padding-top: 4.5rem;
  padding-right: 2.5rem;
  padding-bottom: 2.5rem;
  padding-left: 2.5rem;
}

#form {
	width: 91%;
	height: 4rem;
	color: #4758a5;
  font-family: 'PT Sans', sans-serif;
  font-weight: 400;
	font-size: 1.5rem;
	margin-left: 2%;
	border: none;
  background-color: #f5f9fa;
  padding: 0;
}

.form__box {
	border: #b9b9bb solid 0.1rem;
}

.form__box-input {
  padding-left: 5.7%;
  display: flex;
  align-items: center;
}

.form__icon {
  width: 2.4rem;
  height: 2.4rem;
}

.person {
  background: url(../images/person.svg) no-repeat;
  background-size: contain;
}

.date {
  background: url(../images/date.svg) no-repeat;
  background-size: contain;
}

.form__button {
	border: none;
	width: 100%;
  height: 4rem;
	font-size: 1.5rem;
	font-weight: 700;
	font-family: 'PT Sans', sans-serif;
	color: #fff;
	background-color: #4758a5;
}

.button__link {
  padding: 1rem 1rem;
}

.button__link:hover {
  opacity: 1;
  background-color: #5361a5;
}

.side-bar__document-header {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.side-bar__document-image {
  min-width: 4rem;
  height: 4.5rem;
  background: url(../images/pdf.svg)
  no-repeat;
  background-size: contain;
  padding-right: 1rem;
}

.side-bar__document-item {
  display: flex;
  align-items: center;
  margin-top: 1.5rem;
  margin-right: 2%;
  width: 34rem;
}

.side-bar__document-item:first-child {
  margin-top: 0;
}

.side-bar__document-inner {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
}

.page-counter {
  display: flex;
  align-items: baseline;
}

.page-counter__number {
  color: #000;
  padding: 0.5rem 1rem;
}

.page-counter__number:hover {
  background-color: #384997;
  color: #fff;
}

.page-counter__link {
  text-decoration: none;
}

.latest {
  margin-top: 6rem;
}

.latest__title {
  font-size: 2.6rem;
}

.latest__box {
  display: flex;
  margin-top: 4rem;
}

.news {
  display: flex;
  margin-bottom: 5rem;
}

.news:first-child {
  margin-left: 0;
}

.news__item-title {
  font-size: 2rem;
}

.news__date {
  min-width: 5rem;
  text-align: center;
  margin-right: 1.8rem;
}

.news__date-day {
  font-size: 4.5rem;
  font-weight: 700;
  color: #4758a5;
}

.news__text {
  margin: 0;
  margin-top: 1rem;
}

.news__link {
  text-decoration: none;
  color: #000;
}

.footer {
  font-family: 'PT Sans', sans-serif;
  font-size: 1.3rem;
  min-height: 14rem;
  background-color: #384997;
  color: #fff;
}

.footer__title {
  font-size: 1.5rem;
  padding-top: 2rem;
  padding-bottom: 1.5rem;
}

.footer__box {
  display: flex;
  justify-content: space-between;
}
.footer__content {
  display: flex;
}

.footer__requisites {
  margin-left: 4.5rem;
}

.footer__requisites:first-child {
  margin-left: 0;
}

.footer__copyright-inner {
  position: relative;
  padding: 1rem;
}

.footer__copyright {
  position: absolute;
  top: 0;
  right: 0;
}

@media screen and (min-width: 1200px) {
  .search-form {
  min-width: 60rem;
  }
}

@media screen and (max-width: 980px) {
	html {
	font-size: 9px;
	}
}

@media screen and (max-width: 790px) {
  .logo {
  margin: 0;
  width: 100%;
  align-self: center;
  }

  .header {
  flex-direction: column;
  }

  .header__logo {
    display: flex;
    align-self: center;
  }

  .header__layout {
  width: 100%;
  margin: 2rem 0;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  }

  .header__contacts-box {
  display: none;
  margin: 0;
  line-height: 1.5;
  }

  .layout {
  display: block;
  }

  .search-form {
  max-width: 100%;
}

  .side-bar {
    width: auto;
    margin-left: 0;
  }

  .side-bar__document-header {
  justify-content: flex-start;
  flex-direction: column;
  margin-bottom: 3.5rem;
  }

  .side-bar__document-item {
    margin-right: 0;
    width: auto;
  }

  .content-page {
  margin-bottom: 6.5rem;
  }

  .content-page__inner {
  flex-direction: column;
  }

  .main {
  margin-right: 0;
  margin-bottom: 5.5rem;
  }

  .side-bar {
  display: flex;
  max-width: none;
  }

  .side-bar__form-box {
  min-width: 48%;
  margin-right: 6%;
  }

  .side-bar__document-box {
  margin-top: 0;
  }

  .side-bar__document-header {
  flex-direction: row;
  justify-content: space-between;
  }
}

@media screen and (max-width: 640px) {

  html {
    font-size: 8px;
  }

  .search-form__label {
    font-size: 1.4rem;
  }

  .search-form__input {
    font-size: 1.5rem;
  }

  .logo {
  width: 32rem;
  }

  .menu__list {
    display: none;
  }

  .menu-hamburger {
		display: flex;
    margin-left: 93%;
    padding: 0.6rem;
	}

  .content-page__inner{
    margin-bottom: 5.5rem;
  }

  .side-bar {
    flex-direction: column;
    margin-left: 0;
  }

  .side-bar__form-box {
    margin-bottom: 5.5rem;
    margin-right: 0;
  }

  .side-bar__document-box {
    margin: 0;
  }

  .side-bar__document-item {
    width: 34rem;
  }

  .latest__box {
    flex-direction: column;
  }

  .news {
    margin-left: 0;
    margin-top: 2rem;
  }

  .news:first-child {
    margin-top: 0;
  }
}

@media screen and (max-width: 420px) {

  .logo {
    width: 28rem;
  }

  .header__layout {
    flex-direction: column-reverse;
    align-items: center;
  }

  .menu-hamburger {
    margin-left: 90%;
  }

  .layout {
    display: none;
  }

  .header__schedule-box {
    display: flex;
  }

  .header__inner {
    margin: 0 1rem;
  }

  .footer__box, .footer__title {
    display: none;
  }

  .footer {
    min-height: 4rem;
  }

  .footer__copyright {
    top: 50%;
    right: 27.5%;
}
