html {
  font-size: 10px;
}

body {
  margin: 0;
  font-size: 1.7rem;
  font-family: 'PTSans', Arial, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  }

.header__container {
  font-family: 'PTSans';
  display: flex;
  padding: 2rem 0;
}

.header__schedule-inner {
  margin-left: 3.5rem;
}

.header__search-box {
  margin-left: 5rem;
}

.header__search-question {
  font-size: 1.5rem;
  font-weight: 700;
}

.search-form {
  max-width: 60rem;
  margin-top: 1rem;
}

.search-form__input {
  width: 94%;
  height: 4rem;
  padding: 0 3%;
  border: none;
}

.search-form__box {
  display: flex;
  align-items: center;
  border: 0.1rem solid #b9b9bb;
  height: 4rem;
}

.search-form__button {
  background-color: #fff;
  border: none;
  padding: 0 1.5rem;
}

.search-form__search-icon {
  width: 2.2rem;
  height: 2rem;
  margin-left: 2rem;
  background: url(../images/search-icon.jpg) no-repeat;
}

.search-form__submit-icon {
  width: 2rem;
  height: 1.5rem;
  background: url(../images/submit-icon.jpg) no-repeat;
}

.panel-menu {
  background-color: #465590;
  height: 4.5rem;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
	padding-left: 1rem;
	padding-right: 1rem;
}

.menu {
  font-size: 0;
}

.menu__list{
	padding-left: 0;
	margin: 0;
  padding-top: 0.15rem;
  padding-bottom: 0.15rem;
}

.menu__list-item {
	display: inline-block;
	margin: 0 1.5rem;
  font-family: 'PTSans';
  font-size: 1.7rem;
  font-weight: 400;
}

.menu__list-item:last-child {
	margin-right: 0;
}

.menu__list-box {
  padding: 1rem 1rem;
}

.menu__list-box:hover {
  opacity: 1;
  background-color: #5361a5;
}

.link {
  text-decoration: none;
  color: #fff;
}

.main {
  font-family: PT Sans;
  font-weight: 400;
  margin-top: 4.5rem;
  margin-bottom: 8.5rem;
}

.main__column-title {
  font-family: PTSans;
  font-size: 2.8rem;
  font-weight: 700;
  margin-bottom: 4rem;
}

.title {
  margin: 0;
}

.text {
  margin-bottom: 2.5rem;
}

.main__content {
  display: flex;
  margin-bottom: 6rem;
}

.main__column-list {
  padding-left: 3.5rem;
}

.side-bar {
  width: 100%;
  margin-left: 2rem;
}

.side-bar__link {
  color: #4758a5;
}

.side-bar__title {
  margin-bottom: 3.5rem;
  padding-right: 1rem;
}

.form__inner {
  display: flex;
  flex-direction: column;
  margin-bottom: 3rem;
}

.form__title {
  margin-bottom: 1rem;
}

.form {
  background-color: #f5f9fa;
  padding: 2.5rem;
  padding-top: 4.5rem;
}

#form {
	min-width: 93%;
	height: 4rem;
	color: #4758a5;
  font-family: 'PTSans';
  font-weight: 400;
	font-size: 1.5rem;
	padding-left: 2%;
	border: none;
  background-color: #f5f9fa;
}

.form__box {
	border: #b9b9bb solid 0.1rem;
}

.form__box-input {
  padding-left: 7%;
  display: flex;
  align-items: center;
}

.form__icon {
  width: 1.6rem;
}

.form__icon-image {
  fill: #4758a5;
}

.form__button-box {
	border: none;
	margin-top: 2rem;
}

.form__button {
	border: none;
	width: 100%;
  height: 4rem;
	font-size: 1.5rem;
	font-weight: 700;
	font-family: '';
	color: #fff;
	background-color: #4758a5;
}

.button__link {
  transition: color .2s ease-in-out;
}

.button__link:hover {
  color: #fff;
  animation: shadow .2s 1 ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes shadow {
  from {text-shadow: 0 0 3px #fff;}
  to {text-shadow: 0 0 20px #fff;}
}

.side-bar__document-box {
  margin-top: 5.5rem;
}

.side-bar__document-header {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.side-bar__document-image {
  min-width: 4rem;
  height: 4.5rem;
  background: url(../images/pdf.jpg)
  no-repeat;
  background-size: contain;
  padding-right: 1rem;
}

.side-bar__document-item {
  display: flex;
  align-items: center;
  margin-top: 1.5rem;
}

.side-bar__document-item:first-child {
  margin-top: 0;
}

.latest__box {
  display: flex;
  margin-top: 4rem;
}

.latest__item {
  display: flex;
}

.latest__news-title {
  margin-top: 1rem;
}

.latest__inner {
  margin-left: 2rem;
  margin-right: 1rem;
}

.latest__date-day {
  font-family: 'PTSans';
  font-size: 4.5rem;
  font-weight: 700;
  color: #4758a5;
}

.footer {
  font-family: 'PTSans';
  font-size: 1.3rem;
  height: 14rem;
  background-color: #384997;
  color: #fff;
}

.footer__requisites-title {
  padding-top: 2rem;
  padding-bottom: 1.5rem;
}

.footer__box {
  display: flex;
  justify-content: space-between;
}
.footer__content {
  display: flex;
}

.footer__requisites {
  margin-left: 4.5rem;
}

.footer__requisites:first-child {
  margin-left: 0;
}

@media screen and (min-width: 1200px) {
  .search-form {
    min-width: 60rem;
  }
}

@media screen and (min-width: 960px) and (max-width: 1200px){
  .search-form {
    min-width: 30rem;
  }
}
